body{
    font-family: 'Cantora One', sans-serif;
font-family: 'Zilla Slab Highlight', cursive;
}

.home1{
    background-color: aliceblue;
}
.place{
text-align: center;
padding:3% 9%;
}
.place1{
    display:block;
    margin-left: auto;
    margin-right: auto;
   
}
